
.footer-media-icon {
  width: 32px;
  height: 32px;
}


/* 嵌入b站视频支持响应式*/
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 比例 (9 / 16 * 100%) */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
